@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

:root {
  --main: #D52047;
  --main-text: #000000;
  --accent1: #EE3D1B;
  --accent2: #FFFFFF;
}

h1 {
  font-size: 7.2rem;
  font-weight: 700;
}

h2 {
  font-size: 3.6rem;
  
}

h3 {
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: .2rem;
  line-height: 3.4rem;
}

h4 {
  font-size: 1.8rem;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  transition: all .3s ease;
  position: relative;
}

a:after {
  content: '';
  position: absolute;
  transition: opacity .35s ease;
  opacity: 0;
  left: 0;
  top: 2.3rem;
  width: 100%;
  height: 2px;
  background: var(--accent2);
  transform: scaleX(0);
}

a:before {
  content: '';
  position: absolute;
  transition: opacity .35s ease;
  opacity: 0;
  left: 0;
  bottom: 2.3rem;
  border-radius: 25%;
  width: 100%;
  height: 2px;
  background: var(--accent2);
  transform: scaleX(0);
}


a:hover::after, a:hover::before{
  transform: scaleX(1);
  opacity: 1;
}

p {
  font-size: 1.5rem;
  line-height:2.5rem;
  
}

button {
  border: none;
  border-radius: 1rem;
  font-size: 1.6rem;
  letter-spacing: .2rem;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}
